In [ ]:
# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Notebook are summarized

<b> OBJECTIVES:</b>
* Popular Languages of Data Science
* Open source development environments for Data Science
* Libraries used ny Data Scientists
* Arithematic Operations 
* Conversion between different units

Some of the popular languages that Data Scientists use are:
    
    1. R
    2. Scala
    3. Julia

Some of the commomly used libraries used by Data Scientists are:

    1. Tensor Flow
    2. Numpy
    3. Scipy

a_row [Data Science Tools
Anaconda
GitHub]

|Data Science Tools|
-------------------
|Jupyter Noteook  |
|Apache spark     |
|Tensor Flow      |

In [20]:
### Below are a few examples of evaluating arithmetic expressions in Python

222+22, 3*7,78902-234, 78/2

(244, 21, 78668, 39.0)

In [24]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [31]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
 ## Meher Bano